@import "antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content {
  min-height: 86.9vh;
  border-radius: 10em;
}

.ant-layout-header {
  background: none;
  height: auto !important;
}
.title {
  margin-top: 0.7em;
  font-size: 2.2em;
}
.faqs {
  margin: 1.5em 15%;
}
.ant-collapse {
  border-radius: 0.6em !important;
  font-size: 1.35em;
}
.p {
  font-size: 0.9em !important;
}
